@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url("../font/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Bold.ttf") format("truetype"), url("../font/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../font/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Medium.ttf") format("truetype"), url("../font/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 944pxpx;
}

@media (max-width: 956px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

a {
  text-decoration: none;
  color: #828282;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a:hover {
  color: black;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__content {
  max-width: 956px;
  padding: 0px 10px;
  margin: 0 auto;
}

.menu__icon {
  display: none;
}

@media (max-width: 480px) {
  .menu__icon {
    display: block;
    position: absolute;
    top: 68px;
    right: 30px;
    width: 43px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
    background: none;
  }
  .menu__icon span {
    top: calc(50% - 2.6px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 2.6px);
  }
  .menu__icon._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 2.6px);
  }
}

.menu__body {
  padding: 33px 0 32px 0;
  border-bottom: 1px solid #828282;
}

@media (max-width: 480px) {
  .menu__body {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border-bottom: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 2s;
    transition: all 2s;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__body._active {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .menu__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .menu__list:last-child {
    margin: 0 0 200px 0;
  }
}

.menu__link {
  font-size: 18px;
}

@media (max-width: 480px) {
  .menu__link {
    display: block;
    font-size: 34px;
    margin: 68px 0 0 26px;
  }
}

.menu__transnav {
  display: none;
}

@media (max-width: 480px) {
  .menu__transnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 34px;
    line-height: 42px;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    margin: 0 28px 57px 0;
  }
}

.main-block {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0 0 0;
}

@media (max-width: 480px) {
  .main-block {
    padding: 65px 0 0 0;
    display: block;
  }
}

.main-block__content {
  max-width: 956px;
  padding: 0px 10px;
  margin: 0 auto;
}

.main-block__description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .main-block__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 28px;
  }
}

.main-block__name {
  width: 100px;
  font-size: 47px;
  line-height: 59px;
}

.main-block__info {
  padding: 64px 0 0 0;
  width: 200px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 480px) {
  .main-block__info {
    padding: 23px 0 0 0;
  }
}

.main-block__lang {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
}

@media (max-width: 480px) {
  .main-block__lang {
    display: none;
  }
}

.main-block__big-img {
  position: relative;
  padding: 49px 0 0 0;
}

@media (max-width: 480px) {
  .main-block__big-img {
    padding: 37px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-me {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 105px 0 0 0;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.about-me__content {
  max-width: 956px;
  padding: 0px 10px;
  margin: 0 auto;
}

.about-me__description {
  margin: 120px 0 107px 0;
}

.about-me__title {
  text-align: center;
  font-size: 34px;
  line-height: 42px;
  margin: 0 0 18px 0;
}

.about-me__info {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.about-me__info p {
  margin: 0 0 45px 0;
}

.skills {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.skills__content {
  max-width: 956px;
  padding: 0px 10px;
  margin: 0 auto;
}

.skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 91px 0 111px 0;
}

.skills__title {
  font-size: 34px;
  line-height: 42px;
}

.skills__mixing {
  font-weight: 500;
  margin: 69px 0 0 0;
  font-size: 18px;
  line-height: 22px;
}

.skills__programs-colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 83px 0 0 0;
}

@media (max-width: 768px) {
  .skills__programs-colums {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.skills__programs-colums .img {
  margin: 0 auto;
  width: 89px;
  height: 88px;
}

.skills__programs-colums .title {
  margin: 25px 0 42px 0;
  font-size: 14px;
  line-height: 17px;
}

.skills__programs-colums .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills__programs-colums .stars .img {
  width: 26px;
  height: 26px;
}

.skills__photoshop {
  width: 167px;
}

.skills__illustrator {
  width: 167px;
}

@media (max-width: 480px) {
  .skills__illustrator {
    margin: 82px 0 0 0;
  }
}

.skills__after-effects {
  width: 167px;
}

@media (max-width: 480px) {
  .skills__after-effects {
    margin: 82px 0 0 0;
  }
}

.skills__figma {
  width: 167px;
}

.skills__figma .stars {
  margin: 59px 0 0 0;
}

@media (max-width: 480px) {
  .skills__figma {
    margin: 82px 0 0 0;
  }
}

.portfolio {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #F6F6F6;
}

.portfolio__content {
  max-width: 956px;
  padding: 0 15px;
  margin: 0 auto;
}

.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 112px 0 0 0;
}

.portfolio__title {
  font-size: 34px;
  line-height: 42px;
}

.portfolio__list {
  margin: 47px 0 0 0;
  font-weight: 500;
}

.portfolio .img {
  margin: 0 0 45px 0;
}

@media (max-width: 768px) {
  .portfolio img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.portfolio .link {
  margin: 0 0 99px 0;
}

.portfolio .link a {
  text-decoration: underline;
  -webkit-transition: none !important;
  transition: none !important;
  color: black;
}

.footer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.footer__content {
  max-width: 956px;
  padding: 0px 10px;
  margin: 0 auto;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 114px 0 0 0;
}

.footer__title {
  font-size: 34px;
  line-height: 42px;
  margin: 0 0 20px 0;
}

.footer__top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.footer__button {
  margin: 0 0 86px 0;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  padding: 0px 30px;
  border-radius: 50px;
  position: relative;
  top: 0;
  background-color: black;
  color: #fff;
  border-color: #000;
  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}

.footer__button:hover {
  background-color: #fff;
  color: #000;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 0 46px 0;
}

.footer__link img {
  width: 40px;
  height: 40px;
}

.footer__bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 500;
  color: #828282;
  margin: 0 0 124px 0;
}
