//<ИМПОРТЫ>
@import "_nullstyle";
@import "_fonts";
//</ИМПОРТЫ>

//<ПЕРЕМЕННЫЕ>
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 944px;
$screen: $maxWidthContainer +12;
$laptop: 992px;
$tablet: 768px;
$mobile: 480px; 
//</ПЕРЕМЕННЫЕ>

//<ОБОЛОЧКА>
body{
   font-family: 'Gilroy', sans-serif;
   font-weight: 700;
   &._lock {
      overflow: hidden;
   }
}
.wrapper{
   width: 100%;
   max-width: 100%;
   display: flex;
   flex-direction: column;
}
//</ОБОЛОЧКА>

//<БАЗОВЫЕ ЭЛЕМЕНТЫ>
._container{
   max-width: $maxWidthContainer + px;
   @media (max-width: $screen){
      max-width: 750px;
   }
   @media (max-width: $laptop) {
      max-width: none;
      padding: 0 10px;
   }
}


a {
   text-decoration: none;
   color: #828282;
   transition: 0.5s ease-in-out;

   &:hover {
      color: black;
   }

}
//</БАЗОВЫЕ ЭЛЕМЕНТЫ>


//<HEADER>
.header {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   &__content {
      max-width: $screen;
      padding: 0px 10px;
      margin: 0 auto;
   }
}


.menu {
   &__icon{
      display: none;
         @media (max-width: $mobile) {
            display: block;
            position: absolute;
            top: 68px;
            right: 30px;
            width: 43px;
            height: 30px;
            cursor: pointer;
            z-index: 5;
            background: none;
            span {
               top: calc(50% - 2.6px);
               left: 0px;
               position: absolute;
               width: 100%;
               height: 6px;
               background-color: #000;
               transition: all 0.3s;
               &:first-child{
                  top: 0;
               }
               &:last-child{
                  top: auto;
                  bottom: 0;
               }
            }
            &._active{
               span{
                  transform: scale(0);
                  &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 2.6px);
                     }
                  
                     &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 2.6px);
                     }
               }
            }

         }
   }

   &__body {
      padding: 33px 0 32px 0;
      border-bottom: 1px solid #828282;
      @media (max-width: $mobile) {
         position: absolute;
         bottom: 100%;
         left: 0;
         width: 100%;
         height: 100vh;
         background-color: #fff;
         border-bottom: none;
         padding: 0;
         display: flex;
         transition: all 2s;
         overflow: auto;
         flex-direction: column;
      }
      &._active{
         transform: translateY(100%);
      }
   }


   &__list {
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
         justify-content: flex-start;
         flex-direction: column;
         gap: 0;
         &:last-child {
               margin: 0 0 200px 0;
            }
      }

   }

   &__link {
      font-size: 18px;
         @media (max-width: $mobile) {
            display: block;
            font-size: 34px;
            margin: 68px 0 0 26px;
         }
   }

   &__transnav{
      display: none;
      @media (max-width: $mobile) {
         display: flex;
         font-size: 34px;
         line-height: 42px;
         writing-mode: vertical-rl;
         margin: 0 28px 57px 0;
      }
   }
}

//</HEADER>


//<BODY>

.main-block {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   padding: 40px 0 0 0 ;
   

   @media (max-width: $mobile) {
      padding: 65px 0 0 0;
      display: block;
   }
   &__content {
      max-width: $screen;
      padding: 0px 10px;
      margin: 0 auto;
   }

   &__body {}

   &__description {
      position: relative;
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
         display: flex;
         flex-direction: column;
         padding: 0 0 0 28px;

      }
   }

   &__name {
      width: 100px;
      font-size: 47px;
      line-height: 59px;
   }

   &__info {
      padding: 64px 0 0 0;
      width: 200px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      @media (max-width: $mobile) {
         padding: 23px 0 0 0;
      }
   }

   &__lang{
      margin-top: 29px;
      display: flex;
      justify-content: center;
      transform: rotate(180deg);
      writing-mode: tb-rl;
      @media (max-width: $mobile) {
         display: none;
      }
   }

   &__big-img{
      position: relative;
      padding: 49px 0 0 0;
      @media (max-width: $mobile) {
      padding: 37px 0 0 0;
      display: flex;
      justify-content: center;
      }
   }
}


.about-me {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   margin: 105px 0 0 0 ;
   background-color: #F6F6F6;
   display: flex;
   text-align: center;

   &__content {
      max-width: $screen;
      padding: 0px 10px;
      margin: 0 auto;
   }

   &__body {}

   &__description {
      margin: 120px 0 107px 0;
   }

   &__title {
      text-align: center;
      font-size: 34px;
      line-height: 42px;
      margin: 0 0 18px 0;
   }

   &__info {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      p{
         margin: 0 0 45px 0;
      }
   }
}


.skills {
   position: relative;
      top: 0;
      left: 0;
      width: 100%;
   &__content {
      max-width: $screen;
      padding: 0px 10px;
      margin: 0 auto;
      
   }

   &__body {
      display: flex;
      text-align: center;
      flex-direction: column;
      margin: 91px 0 111px 0;
      
   }

   &__description {
      
   }


   &__title {
      font-size: 34px;
      line-height: 42px;
   }

   &__mixing {
      font-weight: 500;
      margin: 69px 0 0 0;
      font-size: 18px;
      line-height: 22px;
   }

   &__programs-colums {
      display: flex;
      justify-content: space-between;
      margin: 83px 0 0 0;
      @media (max-width: $tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
         }
      
      .img {
            margin: 0 auto;
            width: 89px;
            height: 88px;
         }
      
      .title {
         margin: 25px 0 42px 0;
         font-size: 14px;
         line-height: 17px;
      }
      
      .stars {
         display: flex;
         justify-content: space-evenly;
         .img{
            width: 26px;
            height: 26px;
         }
      }
      
   }

   &__photoshop {
      width: 167px;
   }

   &__illustrator {
      width: 167px;
      @media (max-width: $mobile) {
            margin: 82px 0 0 0;
         }
   }

   &__after-effects {
      width: 167px;
      @media (max-width: $mobile) {
            margin: 82px 0 0 0;
         }
   }

   &__figma {
      width: 167px;
      .stars{
         margin: 59px 0 0 0;
      }
      @media (max-width: $mobile) {
         margin: 82px 0 0 0;
      }
   }
}




.portfolio {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   background: #F6F6F6;

   &__content {
      max-width: $screen;
      padding: 0 15px;
      margin: 0 auto;
   }

   &__body {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding: 112px 0 0 0;
   }

   &__title {
      font-size: 34px;
      line-height: 42px;
   }

   &__list {
      margin: 47px 0 0 0;
      font-weight: 500;
   }

   &__fashion-store {

   }
   
   &__reebok-store {}
   
   &__braun-landing {
      
   }

   .img{
      margin: 0 0 45px 0;
   }

   img{
      @media (max-width: $tablet) {
            object-fit: contain;
         }
   }
   
   .link {
      margin: 0 0 99px 0;
      a{
         text-decoration: underline;
         transition: none !important;
         color: black;
      }
   }
}

.footer {
   position: relative;
      top: 0;
      left: 0;
      width: 100%;

   &__content {
      max-width: $screen;
      padding: 0px 10px;
      margin: 0 auto;
   }

   &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 114px 0 0 0;
   }

   &__title {
      font-size: 34px;
      line-height: 42px;
      margin: 0 0 20px 0;
   }

   &__top-text {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-weight: 500;
      margin: 0 0 30px 0;
   }

   &__button {
      margin: 0 0 86px 0;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 42px;
      padding: 0px 30px;
      border-radius: 50px;
      position: relative;
      top: 0;
      background-color: black;
      color: #fff;
      border-color: #000;
      transition: all 1s ease-in-out 0s;
      &:hover{
         background-color: #fff;
         color: #000;
      }
   }

   &__bottom {
      display: flex;
      flex-direction: column;
   }

   &__link {
      display: flex;
      justify-content: space-evenly;
      img{
         width: 40px;
         height: 40px;
      }
      margin: 0 0 46px 0;
   }

   &__bottom-text {
      display: flex;
      justify-content: center;
      text-align: center;
      font-weight: 500;
      color: #828282;
      margin: 0 0 124px 0;
   }
}






//</BODY>