@import "_nullstyle";

header{
   font-family: 'Gilroy-Bold', sans-serif;
   height: 88px;
   width: 100%;
   display: flex;
   justify-content: center;
   
   .menu{
      position: absolute;
      width: 100%;
      max-width: 941px;
      display: flex;
      justify-content: space-between;
      padding: 33px 0 33px;
      font-size: 18px;
      border-bottom: 1px solid #828282;
   }
}

a{
   text-decoration: none;
   color: #828282;
   transition: 0.5s ease-in-out ;
   &:hover{
      color: black;
   }

}

.info{
      height: 189px;
      width: 100%;
      display: flex;
      justify-content: center;
      
      .info-colums{
         position: absolute;
         display: flex;
         justify-content: space-between;
         width: 100%;
         max-width: 941px;
      }
      
      .name{
         font-family: 'Gilroy-Bold', sans-serif;
         font-size: 48px;
         line-height: 59px;
         padding: 39px 0 0  ;
      }
      .person_info{
         font-family: 'Gilroy-Medium';
         line-height: 22px;
         padding: 95px 0 0;
         
      }
      .lang{
         font-family: 'Gilroy-Bold';
         padding-bottom: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         transform: rotate(180deg);
         writing-mode: tb-rl;
         
         
      }
}

.big-img{
   width: 100%;
   display: flex;
   justify-content: center;
   img{
      max-width: 944px;
   }
}


.about{
   width: 100%;
   height: 506px;
   margin: 104px 0 0 0 ;
   background-color:#F6F6F6;
   display: flex;
   flex-direction: column;
   text-align: center;
   .about_title{
      font-family: 'Gilroy-Bold';
      font-size: 34px;
      line-height: 42px;
      margin: 120px 0 18px 0;
   }
   .rows_info{
      font-family: 'Gilroy-Medium';
      font-size: 18px;
      line-height: 22px;
      p{
         margin: 0 0 45px 0;
      }
   }
}

.skills{
   padding: 91px 0 0 0;
   .skills__header{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .skills__title{
         font-family: 'Gilroy-Bold';
         font-size: 34px;
         line-height: 42px;
         text-align: center;
      }
      .skills__text{
         margin: 69px 0 0 0;
         font-family: 'Gilroy-Medium';
         font-size: 18px;
         line-height: 22px;
         text-align: center;
      }
   }
   .programs__colums{
      margin: 84px 0 0 0;
      font-family: 'Gilroy-Bold';
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      
      .title{
         margin: 24px 0 0 0;
      }
      
      img{
         width: 89px;
         height: 88px;;
      }
      .stars{
         img{
            width: 26px;
            height: 26px;
         }
      }
   }
}