@import "_nullstyle";

header{
   font-family: 'Gilroy-Bold', sans-serif;
   height: 88px;
   width: 100%;
   display: flex;
   justify-content: center;
   
   .menu{
      position: absolute;
      width: 100%;
      max-width: 941px;
      display: flex;
      justify-content: space-between;
      padding: 33px 0 33px;
      font-size: 18px;
      border-bottom: 1px solid #828282;
   }
}

a{
   text-decoration: none;
   color: #828282;
   transition: 0.5s ease-in-out ;
   &:hover{
      color: black;
   }

}

.info{
      height: 189px;
      width: 100%;
      display: flex;
      justify-content: center;
      
      .info-colums{
         position: absolute;
         display: flex;
         justify-content: space-between;
         width: 100%;
         max-width: 941px;
      }
      
      .name{
         font-family: 'Gilroy-Bold', sans-serif;
         font-size: 48px;
         line-height: 59px;
         padding: 39px 0 0  ;
      }
      .person_info{
         font-family: 'Gilroy-Medium';
         line-height: 22px;
         padding: 95px 0 0;
         
      }
      .lang{
         font-family: 'Gilroy-Bold';
         padding-bottom: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         transform: rotate(180deg);
         writing-mode: tb-rl;
         
         
      }
}

.big-img{
   width: 100%;
   display: flex;
   justify-content: center;
}