@import "_nullstyle";

header{
   font-family: 'Gilroy-Bold', sans-serif;
   height: 88px;
   width: 100%;
   display: flex;
   justify-content: center;
   
   .menu{
      width: 941px;
      display: flex;
      justify-content: space-evenly;
      padding: 33px;
      font-size: 18px;
      border-bottom: 1px solid #828282;
   }
}

a{
   text-decoration: none;
   color: #828282;
   transition: 0.5s ease-in-out ;
   &:hover{
      color: black;
   }

}